.overflow_element {
    overflow-x: scroll;
    width: 100%; 
    height:30%;
    position: absolute;
    bottom: 5%;
    left: 0px;
}

.head {
    width: 100%;
    height: 20%;
    top: 0px;
    left: 0px;
    z-index: 1;
    position: absolute;
    border-bottom: 1px solid rgb(185, 181, 181);
}
.controllholder {
    position: absolute;
    bottom: 6px;
    width: 85%;
    height: 25%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgb(185, 181, 181);
}
.btn_ {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    right: 20px;
    top: 7%;
    z-index: 2;
    position: absolute;
    margin: 1em 0; 
    padding: 0.6em 1em; 
    font-size: 1em; 
    background-color: #1aa1ff; 
    color: #FFF; 
    cursor: pointer; 
    border-radius: 3px; 
    border: 0; 
    transition: 0.3s;
  }
  .btn_:hover {
    background-color: #064fda; /* 背景色 */
  }
  .fa__i_ {
    margin: 0 .05em 0 .1em;
    width: 1em;
    height: 1em;
}


.input__field {
    position: relative;
    top: 20%;
    width: 10%;
    height: 20%;
   /* margin: 1em 0;  */
    padding: 0.5em;
    font-size: 1em;
    border-radius: 4px;
    border: solid 2px #e1e3e8;
    resize: none;
    left: 40px;
  }
.input__field:focus {
    border-color: #56a9ff;
    outline: 0;
}

.n08m {
    position: absolute;
    top: 55%;
    font-size: 1.4em;
    transform: translateY(-50%);
    color:rgb(185, 181, 181);
    left: 0%;
}
.n09m {
    position: absolute;
    top: 55%;
    font-size: 1.4em;
    transform: translateY(-50%);
    color:rgb(185, 181, 181);
    left: 200px;
}
.bg_stroke {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 240px;
    background-color: #1aa1ff;
    border-radius: 9999px;
}
.n10m {
    position: absolute;
    top: 55%;
    font-size: 1.4em;
    transform: translateY(-50%);
    color:rgb(185, 181, 181);
    left: 280px;
}

.bg_fill {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 320px;
    background-color: #1aa1ff;
    border-radius: 9999px;
}
.hexpicker {
    z-index: 9999;
    position: absolute;
}